In [96]:
import pandas as pd
import numpy as np

Our dataset is from: [https://www.kaggle.com/datasets/jackogozaly/data\-science\-and\-stem\-salaries?datasetId=1640011&sortBy=voteCount](https://www.kaggle.com/datasets/jackogozaly/data-science-and-stem-salaries?datasetId=1640011&sortBy=voteCount)

In [97]:
df = pd.read_csv("Levels_Fyi_Salary_Data.csv")

In [98]:
df.head()

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
0,6/7/2017 11:33:27,Oracle,L3,Product Manager,127000,"Redwood City, CA",1.5,1.5,NaN,107000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
1,6/10/2017 17:11:29,eBay,SE 2,Software Engineer,100000,"San Francisco, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
2,6/11/2017 14:53:57,Amazon,L7,Product Manager,310000,"Seattle, WA",8.0,0.0,NaN,155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
3,6/17/2017 0:23:14,Apple,M1,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,NaN,157000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
4,6/20/2017 10:58:51,Microsoft,60,Software Engineer,157000,"Mountain View, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [99]:
df.columns

Index(['timestamp', 'company', 'level', 'title', 'totalyearlycompensation',
       'location', 'yearsofexperience', 'yearsatcompany', 'tag', 'basesalary',
       'stockgrantvalue', 'bonus', 'gender', 'otherdetails', 'cityid', 'dmaid',
       'rowNumber', 'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree',
       'Highschool', 'Some_College', 'Race_Asian', 'Race_White',
       'Race_Two_Or_More', 'Race_Black', 'Race_Hispanic', 'Race', 'Education'],
      dtype='object')

In [100]:
df['company'].isnull().values.any()

True

In [101]:
df['company'].isnull().sum()

5

In [102]:
df['level'].isnull().values.any()

True

In [103]:
df['level'].isnull().sum()

119

In [104]:
df['title'].isnull().values.any()

False

In [105]:
df['totalyearlycompensation'].isnull().values.any()

False

In [106]:
df['location'].isnull().values.any()

False

In [107]:
df['yearsofexperience'].isnull().values.any()

False

In [108]:
df['yearsatcompany'].isnull().values.any()

False

In [109]:
df['tag'].isnull().values.any()

True

In [110]:
df['tag'].isnull().sum()

854

In [111]:
df['basesalary'].isnull().values.any()

False

In [112]:
df['Doctorate_Degree'].isnull().values.any()

False

In [113]:
df['Highschool'].isnull().values.any()

False

In [114]:
df['Some_College'].isnull().values.any()

False

In [115]:
df['Race_Asian'].isnull().values.any()

False

In [116]:
df['Race_White'].isnull().values.any()

False

In [117]:
df['Race_Two_Or_More'].isnull().values.any()

False

In [118]:
df['Race_Black'].isnull().values.any()

False

In [119]:
df['Race_Hispanic'].isnull().values.any()

False

In [120]:
df['Race'].isnull().values.any()

True

In [121]:
df['Race'].isnull().sum()

40215

In [122]:
df['Education'].isnull().values.any()

True

In [123]:
df['Education'].isnull().sum()

32272

In [134]:
df.columns

Index(['timestamp', 'company', 'title', 'totalyearlycompensation', 'location',
       'yearsofexperience', 'yearsatcompany', 'basesalary', 'stockgrantvalue',
       'bonus', 'gender', 'cityid', 'rowNumber', 'Masters_Degree',
       'Bachelors_Degree', 'Doctorate_Degree', 'Highschool', 'Some_College',
       'Race_Asian', 'Race_White', 'Race_Two_Or_More', 'Race_Black',
       'Race_Hispanic'],
      dtype='object')

In [125]:
df = df.drop(['Race'], axis = 1)

In [127]:
df = df.drop(['Education'], axis = 1)

In [128]:
df = df.drop(['otherdetails'], axis = 1)

In [132]:
df = df.drop(['level'], axis = 1)

In [131]:
df = df.drop(['dmaid'], axis = 1)

In [133]:
df = df.drop(['tag'], axis = 1)

In [136]:
df.dropna()

,timestamp,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,...,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic
264,4/12/2018 16:15:32,GE Digital,Software Engineer,140000,"San Ramon, CA",4.0,4.0,130000.0,0.0,10000.0,...,0,0,0,0,0,0,0,0,0,0
265,4/12/2018 23:19:33,Amazon,Software Engineer,172000,"Seattle, WA",12.0,2.0,142000.0,30000.0,0.0,...,0,0,0,0,0,0,0,0,0,0
266,4/13/2018 6:32:17,Uber,Software Engineer,325000,"San Francisco, CA",7.0,2.0,161000.0,140000.0,25000.0,...,0,0,0,0,0,0,0,0,0,0
269,4/14/2018 13:05:22,Microsoft,Software Engineer,150000,"Seattle, WA",4.0,0.0,118000.0,5000.0,12000.0,...,0,0,0,0,0,0,0,0,0,0
270,4/15/2018 11:47:53,Google,Software Engineer,640000,"Mountain View, CA",11.0,4.0,210000.0,380000.0,50000.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62610,8/4/2018 11:47:02,Amazon,Software Engineer,135000,"Seattle, WA",1.0,0.0,104000.0,3000.0,18500.0,...,0,0,0,0,0,0,0,0,0,0
62611,8/4/2018 16:03:21,Amazon,Software Engineer,350000,"Austin, TX",14.0,1.0,160000.0,175000.0,56250.0,...,0,0,0,0,0,0,0,0,0,0
62612,8/6/2018 10:11:10,Microsoft,Product Manager,305000,"Seattle, WA",20.0,2.0,200000.0,75000.0,30000.0,...,0,0,0,0,0,0,0,0,0,0
62613,8/7/2018 21:07:28,Amazon,Software Engineer,152000,"Seattle, WA",3.0,0.0,106000.0,26000.0,20000.0,...,0,0,0,0,0,0,0,0,0,0
62641,1/29/2019 5:12:59,apple,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,155000.0,27000.0,19000.0,...,0,0,0,0,0,0,0,0,0,0