In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cleaned_data')
df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [3]:
df.head()

,company,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,...,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,state,in_top_15,education,race
0,Google,Software Engineer,400000,5.0,5.0,210000.0,145000.0,45000.0,Male,0,...,0,1,0,0,0,0,CA,True,PHD,Asian
1,Microsoft,Software Engineer,136000,3.0,2.0,124000.0,1000.0,11000.0,Male,0,...,0,0,0,1,0,0,WA,True,Bachelors,Two
2,Google,Software Engineer,337000,6.0,6.0,177000.0,125000.0,36000.0,Male,0,...,0,1,0,0,0,0,CA,True,Bachelors,Asian
3,Microsoft,Software Engineer,222000,4.0,4.0,164000.0,38000.0,20000.0,Male,1,...,0,1,0,0,0,0,WA,True,Masters,Asian
4,Blend,Software Engineer,187000,5.0,0.0,165000.0,22000.0,0.0,Male,0,...,0,0,1,0,0,0,CA,False,Bachelors,White

In [4]:
df.columns

Index(['company', 'title', 'totalyearlycompensation', 'yearsofexperience',
       'yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus', 'gender',
       'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree', 'Highschool',
       'Some_College', 'Race_Asian', 'Race_White', 'Race_Two_Or_More',
       'Race_Black', 'Race_Hispanic', 'state', 'in_top_15', 'education',
       'race'],
      dtype='object')

In [5]:
#state, title, race, education, company, gender, experience

In [6]:
input = ['state', 'title', 'race', 'company', 'gender', 'yearsofexperience', 'education']
filler = df.groupby(by = input)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()
filler.reset_index(inplace = True)
filler

/tmp/ipykernel_16245/3953414673.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  filler = df.groupby(by = input)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()

,state,title,race,company,gender,yearsofexperience,education,yearsatcompany,basesalary,stockgrantvalue,bonus
0,CA,Business Analyst,Asian,8x8,Male,12.0,Bachelors,1.0,161000.0,54000.0,15000.0
1,CA,Business Analyst,Asian,AIG,Male,11.0,Masters,2.0,94000.0,0.0,8000.0
2,CA,Business Analyst,Asian,Adobe,Female,2.0,Bachelors,2.0,97000.0,18000.0,10000.0
3,CA,Business Analyst,Asian,Affirm,Male,3.0,Masters,0.0,174000.0,30000.0,0.0
4,CA,Business Analyst,Asian,Affirm,Male,4.0,Masters,0.0,174000.0,57000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
16330,WA,Technical Program Manager,White,Salesforce,Male,20.0,Some,1.0,206000.0,18500.0,31000.0
16331,WA,Technical Program Manager,White,Sift,Male,20.0,Bachelors,2.0,205000.0,30000.0,20000.0
16332,WA,Technical Program Manager,White,T-mobile,Other,10.0,Bachelors,4.0,140000.0,15000.0,35000.0
16333,WA,Technical Program Manager,White,Twitter,Female,18.0,Bachelors,1.0,208000.0,90000.0,0.0
16334,WA,Technical Program Manager,White,Uber,Male,10.0,Masters,6.0,240000.0,250000.0,43000.0

In [7]:
#one hot encoding

In [8]:
# Convert out categorical data into numbers, using one hot encoding
#print(df['gender'].unique())

['Male' 'Female' 'Other']

In [9]:
#df['gender'].value_counts()

Male      17603
Female     3880
Other       106
Name: gender, dtype: int64

In [10]:
#one_hot_encoded_df = pd.get_dummies(df, columns = ['gender'])
#print(one_hot_encoded_df)

         company                         title  totalyearlycompensation  \
0         Google             Software Engineer                   400000
1      Microsoft             Software Engineer                   136000
2         Google             Software Engineer                   337000
3      Microsoft             Software Engineer                   222000
4          Blend             Software Engineer                   187000
...          ...                           ...                      ...
21584   Facebook  Software Engineering Manager                  1470000
21585     Google               Product Manager                  4500000
21586     Zapier  Software Engineering Manager                  1605000
21587   Facebook  Software Engineering Manager                  2372000
21588   Facebook               Product Manager                  4980000

       yearsofexperience  yearsatcompany  basesalary  stockgrantvalue  \
0                    5.0             5.0    210000.0         145000.0
1                    3.0             2.0    124000.0           1000.0
2                    6.0             6.0    177000.0         125000.0
3                    4.0             4.0    164000.0          38000.0
4                    5.0             0.0    165000.0          22000.0
...                  ...             ...         ...              ...
21584                9.0             7.0    290000.0           1100.0
21585               20.0            14.0    450000.0           3700.0
21586               16.0             2.0    250000.0           1305.0
21587               22.0             2.0    315000.0           1933.0
21588               17.0             0.0    380000.0           4400.0

          bonus  Masters_Degree  Bachelors_Degree  ...  Race_Two_Or_More  \
0       45000.0               0                 0  ...                 0
1       11000.0               0                 1  ...                 1
2       36000.0               0                 1  ...                 0
3       20000.0               1                 0  ...                 0
4           0.0               0                 1  ...                 0
...         ...             ...               ...  ...               ...
21584   80000.0               0                 1  ...                 0
21585  350000.0               1                 0  ...                 0
21586   50000.0               1                 0  ...                 0
21587  124000.0               1                 0  ...                 0
21588  200000.0               1                 0  ...                 0

       Race_Black  Race_Hispanic  state  in_top_15  education   race  \
0               0              0     CA       True        PHD  Asian
1               0              0     WA       True  Bachelors    Two
2               0              0     CA       True  Bachelors  Asian
3               0              0     WA       True    Masters  Asian
4               0              0     CA      False  Bachelors  White
...           ...            ...    ...        ...        ...    ...
21584           0              0     CA       True  Bachelors  Asian
21585           0              0     CA       True    Masters  Asian
21586           0              0  Other      False    Masters  White
21587           1              0     CA       True    Masters  Black
21588           0              0     CA       True    Masters  Asian

       gender_Female gender_Male  gender_Other
0                  0           1             0
1                  0           1             0
2                  0           1             0
3                  0           1             0
4                  0           1             0
...              ...         ...           ...
21584              0           1             0
21585              0           1             0
21586              1           0             0
21587              0           1             0
21588              0           1             0

[21589 rows x 25 columns]

In [11]:
#df['Female_gender'] = one_hot_encoded_df['gender_Female']
#df['Male_gender'] = one_hot_encoded_df['gender_Male']
#df['Other_Gender'] = one_hot_encoded_df['gender_Other']
#df.head()

,company,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,...,Race_Two_Or_More,Race_Black,Race_Hispanic,state,in_top_15,education,race,Female_gender,Male_gender,Other_Gender
0,Google,Software Engineer,400000,5.0,5.0,210000.0,145000.0,45000.0,Male,0,...,0,0,0,CA,True,PHD,Asian,0,1,0
1,Microsoft,Software Engineer,136000,3.0,2.0,124000.0,1000.0,11000.0,Male,0,...,1,0,0,WA,True,Bachelors,Two,0,1,0
2,Google,Software Engineer,337000,6.0,6.0,177000.0,125000.0,36000.0,Male,0,...,0,0,0,CA,True,Bachelors,Asian,0,1,0
3,Microsoft,Software Engineer,222000,4.0,4.0,164000.0,38000.0,20000.0,Male,1,...,0,0,0,WA,True,Masters,Asian,0,1,0
4,Blend,Software Engineer,187000,5.0,0.0,165000.0,22000.0,0.0,Male,0,...,0,0,0,CA,False,Bachelors,White,0,1,0

In [12]:
#df.columns

Index(['company', 'title', 'totalyearlycompensation', 'yearsofexperience',
       'yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus', 'gender',
       'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree', 'Highschool',
       'Some_College', 'Race_Asian', 'Race_White', 'Race_Two_Or_More',
       'Race_Black', 'Race_Hispanic', 'state', 'in_top_15', 'education',
       'race', 'Female_gender', 'Male_gender', 'Other_Gender'],
      dtype='object')

In [13]:
#print(df['state'].unique())

['CA' 'WA' 'Other' 'NY']

In [14]:
#df['state'].value_counts()

Other    9832
CA       6534
WA       3552
NY       1671
Name: state, dtype: int64

In [15]:
#one_hot_encoded_df = pd.get_dummies(df, columns = ['state'])
#print(one_hot_encoded_df)

         company                         title  totalyearlycompensation  \
0         Google             Software Engineer                   400000
1      Microsoft             Software Engineer                   136000
2         Google             Software Engineer                   337000
3      Microsoft             Software Engineer                   222000
4          Blend             Software Engineer                   187000
...          ...                           ...                      ...
21584   Facebook  Software Engineering Manager                  1470000
21585     Google               Product Manager                  4500000
21586     Zapier  Software Engineering Manager                  1605000
21587   Facebook  Software Engineering Manager                  2372000
21588   Facebook               Product Manager                  4980000

       yearsofexperience  yearsatcompany  basesalary  stockgrantvalue  \
0                    5.0             5.0    210000.0         145000.0
1                    3.0             2.0    124000.0           1000.0
2                    6.0             6.0    177000.0         125000.0
3                    4.0             4.0    164000.0          38000.0
4                    5.0             0.0    165000.0          22000.0
...                  ...             ...         ...              ...
21584                9.0             7.0    290000.0           1100.0
21585               20.0            14.0    450000.0           3700.0
21586               16.0             2.0    250000.0           1305.0
21587               22.0             2.0    315000.0           1933.0
21588               17.0             0.0    380000.0           4400.0

          bonus  gender  Masters_Degree  ...  in_top_15  education   race  \
0       45000.0    Male               0  ...       True        PHD  Asian
1       11000.0    Male               0  ...       True  Bachelors    Two
2       36000.0    Male               0  ...       True  Bachelors  Asian
3       20000.0    Male               1  ...       True    Masters  Asian
4           0.0    Male               0  ...      False  Bachelors  White
...         ...     ...             ...  ...        ...        ...    ...
21584   80000.0    Male               0  ...       True  Bachelors  Asian
21585  350000.0    Male               1  ...       True    Masters  Asian
21586   50000.0  Female               1  ...      False    Masters  White
21587  124000.0    Male               1  ...       True    Masters  Black
21588  200000.0    Male               1  ...       True    Masters  Asian

       Female_gender  Male_gender  Other_Gender  state_CA  state_NY  \
0                  0            1             0         1         0
1                  0            1             0         0         0
2                  0            1             0         1         0
3                  0            1             0         0         0
4                  0            1             0         1         0
...              ...          ...           ...       ...       ...
21584              0            1             0         1         0
21585              0            1             0         1         0
21586              1            0             0         0         0
21587              0            1             0         1         0
21588              0            1             0         1         0

       state_Other  state_WA
0                0         0
1                0         1
2                0         0
3                0         1
4                0         0
...            ...       ...
21584            0         0
21585            0         0
21586            1         0
21587            0         0
21588            0         0

[21589 rows x 29 columns]

In [16]:
#df['state_NY'] = one_hot_encoded_df['state_NY']
#df['state_other'] = one_hot_encoded_df['state_Other']
#df['state_WA'] = one_hot_encoded_df['state_WA']
#df.head()

,company,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,...,state,in_top_15,education,race,Female_gender,Male_gender,Other_Gender,state_NY,state_other,state_WA
0,Google,Software Engineer,400000,5.0,5.0,210000.0,145000.0,45000.0,Male,0,...,CA,True,PHD,Asian,0,1,0,0,0,0
1,Microsoft,Software Engineer,136000,3.0,2.0,124000.0,1000.0,11000.0,Male,0,...,WA,True,Bachelors,Two,0,1,0,0,0,1
2,Google,Software Engineer,337000,6.0,6.0,177000.0,125000.0,36000.0,Male,0,...,CA,True,Bachelors,Asian,0,1,0,0,0,0
3,Microsoft,Software Engineer,222000,4.0,4.0,164000.0,38000.0,20000.0,Male,1,...,WA,True,Masters,Asian,0,1,0,0,0,1
4,Blend,Software Engineer,187000,5.0,0.0,165000.0,22000.0,0.0,Male,0,...,CA,False,Bachelors,White,0,1,0,0,0,0

In [17]:
#print(df['title'].unique())

['Software Engineer' 'Software Engineering Manager' 'Hardware Engineer'
 'Product Designer' 'Management Consultant' 'Product Manager'
 'Solution Architect' 'Sales' 'Technical Program Manager' 'Data Scientist'
 'Recruiter' 'Mechanical Engineer' 'Business Analyst' 'Human Resources'
 'Marketing']

In [18]:
#df['title'].value_counts()

Software Engineer               13698
Product Manager                  1453
Software Engineering Manager     1024
Data Scientist                    875
Hardware Engineer                 783
Technical Program Manager         635
Product Designer                  601
Management Consultant             450
Business Analyst                  445
Solution Architect                409
Marketing                         360
Mechanical Engineer               255
Sales                             218
Recruiter                         214
Human Resources                   169
Name: title, dtype: int64

In [19]:
#one_hot_encoded_df = pd.get_dummies(df, columns = ['title'])
#print(one_hot_encoded_df)

         company  totalyearlycompensation  yearsofexperience  yearsatcompany  \
0         Google                   400000                5.0             5.0
1      Microsoft                   136000                3.0             2.0
2         Google                   337000                6.0             6.0
3      Microsoft                   222000                4.0             4.0
4          Blend                   187000                5.0             0.0
...          ...                      ...                ...             ...
21584   Facebook                  1470000                9.0             7.0
21585     Google                  4500000               20.0            14.0
21586     Zapier                  1605000               16.0             2.0
21587   Facebook                  2372000               22.0             2.0
21588   Facebook                  4980000               17.0             0.0

       basesalary  stockgrantvalue     bonus  gender  Masters_Degree  \
0        210000.0         145000.0   45000.0    Male               0
1        124000.0           1000.0   11000.0    Male               0
2        177000.0         125000.0   36000.0    Male               0
3        164000.0          38000.0   20000.0    Male               1
4        165000.0          22000.0       0.0    Male               0
...           ...              ...       ...     ...             ...
21584    290000.0           1100.0   80000.0    Male               0
21585    450000.0           3700.0  350000.0    Male               1
21586    250000.0           1305.0   50000.0  Female               1
21587    315000.0           1933.0  124000.0    Male               1
21588    380000.0           4400.0  200000.0    Male               1

       Bachelors_Degree  ...  title_Marketing  title_Mechanical Engineer  \
0                     0  ...                0                          0
1                     1  ...                0                          0
2                     1  ...                0                          0
3                     0  ...                0                          0
4                     1  ...                0                          0
...                 ...  ...              ...                        ...
21584                 1  ...                0                          0
21585                 0  ...                0                          0
21586                 0  ...                0                          0
21587                 0  ...                0                          0
21588                 0  ...                0                          0

       title_Product Designer  title_Product Manager  title_Recruiter  \
0                           0                      0                0
1                           0                      0                0
2                           0                      0                0
3                           0                      0                0
4                           0                      0                0
...                       ...                    ...              ...
21584                       0                      0                0
21585                       0                      1                0
21586                       0                      0                0
21587                       0                      0                0
21588                       0                      1                0

       title_Sales  title_Software Engineer  \
0                0                        1
1                0                        1
2                0                        1
3                0                        1
4                0                        1
...            ...                      ...
21584            0                        0
21585            0                        0
21586            0                        0
21587            0                        0
21588            0                        0

       title_Software Engineering Manager title_Solution Architect  \
0                                       0                        0
1                                       0                        0
2                                       0                        0
3                                       0                        0
4                                       0                        0
...                                   ...                      ...
21584                                   1                        0
21585                                   0                        0
21586                                   1                        0
21587                                   1                        0
21588                                   0                        0

       title_Technical Program Manager
0                                    0
1                                    0
2                                    0
3                                    0
4                                    0
...                                ...
21584                                0
21585                                0
21586                                0
21587                                0
21588                                0

[21589 rows x 43 columns]

In [20]:
#df['Marketing_title'] = one_hot_encoded_df['title_Marketing']
#df['Mechanical Engineer_title'] = one_hot_encoded_df['title_Mechanical Engineer']
#df['Product Designer_title'] = one_hot_encoded_df['title_Product Designer']
#df['Recruiter_title'] = one_hot_encoded_df['title_Recruiter']
#df['Sales_title'] = one_hot_encoded_df['title_Sales']
#df['Software Engineer_title'] = one_hot_encoded_df['title_Software Engineer']
#df['Software Engineering Manager_title'] = one_hot_encoded_df['title_Software Engineering Manager']
#df['Solution Architect_title'] = one_hot_encoded_df['title_Solution Architect']
#df['Technical Program Manager_title'] = one_hot_encoded_df['title_Technical Program Manager']
#df['Human Resources_title'] = one_hot_encoded_df['title_Human Resources']
#df['Product Manager_title'] = one_hot_encoded_df['title_Product Manager']
#df['Business Analyst_title'] = one_hot_encoded_df['title_Business Analyst']
#df['Management Consultant_title'] = one_hot_encoded_df['title_Management Consultant']
#df['Data Scientist_title'] = one_hot_encoded_df['title_Data Scientist']
#df['Hardware Engineer_title'] = one_hot_encoded_df['title_Hardware Engineer']
#df.head()

,company,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,...,Software Engineer_title,Software Engineering Manager_title,Solution Architect_title,Technical Program Manager_title,Human Resources_title,Product Manager_title,Business Analyst_title,Management Consultant_title,Data Scientist_title,Hardware Engineer_title
0,Google,Software Engineer,400000,5.0,5.0,210000.0,145000.0,45000.0,Male,0,...,1,0,0,0,0,0,0,0,0,0
1,Microsoft,Software Engineer,136000,3.0,2.0,124000.0,1000.0,11000.0,Male,0,...,1,0,0,0,0,0,0,0,0,0
2,Google,Software Engineer,337000,6.0,6.0,177000.0,125000.0,36000.0,Male,0,...,1,0,0,0,0,0,0,0,0,0
3,Microsoft,Software Engineer,222000,4.0,4.0,164000.0,38000.0,20000.0,Male,1,...,1,0,0,0,0,0,0,0,0,0
4,Blend,Software Engineer,187000,5.0,0.0,165000.0,22000.0,0.0,Male,0,...,1,0,0,0,0,0,0,0,0,0

In [21]:
df.columns

Index(['company', 'title', 'totalyearlycompensation', 'yearsofexperience',
       'yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus', 'gender',
       'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree', 'Highschool',
       'Some_College', 'Race_Asian', 'Race_White', 'Race_Two_Or_More',
       'Race_Black', 'Race_Hispanic', 'state', 'in_top_15', 'education',
       'race', 'Female_gender', 'Male_gender', 'Other_Gender', 'state_NY',
       'state_other', 'state_WA', 'Marketing_title',
       'Mechanical Engineer_title', 'Product Designer_title',
       'Recruiter_title', 'Sales_title', 'Software Engineer_title',
       'Software Engineering Manager_title', 'Solution Architect_title',
       'Technical Program Manager_title', 'Human Resources_title',
       'Product Manager_title', 'Business Analyst_title',
       'Management Consultant_title', 'Data Scientist_title',
       'Hardware Engineer_title'],
      dtype='object')

In [22]:
#df = df.drop(['gender'], axis = 1)

In [23]:
#df = df.drop(['state'], axis = 1)

In [24]:
#df = df.drop(['title'], axis = 1)

In [25]:
#df = df.drop(['company'], axis = 1)

In [26]:
#df = df.drop(['education'], axis = 1)

In [27]:
#df = df.drop(['race'], axis = 1)

In [28]:
#df.head()

,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,...,Software Engineer_title,Software Engineering Manager_title,Solution Architect_title,Technical Program Manager_title,Human Resources_title,Product Manager_title,Business Analyst_title,Management Consultant_title,Data Scientist_title,Hardware Engineer_title
0,400000,5.0,5.0,210000.0,145000.0,45000.0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
1,136000,3.0,2.0,124000.0,1000.0,11000.0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2,337000,6.0,6.0,177000.0,125000.0,36000.0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
3,222000,4.0,4.0,164000.0,38000.0,20000.0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,187000,5.0,0.0,165000.0,22000.0,0.0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0

In [29]:
def findfillerdata(filler):
    if filler == None:
        return 'sorry no data found'
    else:
        return filler

In [30]:
#Making Predictions

In [31]:
#splitting our data
import sklearn
from sklearn.model_selection import train_test_split
x = df.loc[:, df.columns !=  'totalyearlycompensation']
y = df.totalyearlycompensation

In [32]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42)

In [33]:
#Nearest Neighbors Regression
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor()

In [34]:
df.columns

Index(['totalyearlycompensation', 'yearsofexperience', 'yearsatcompany',
       'basesalary', 'stockgrantvalue', 'bonus', 'Masters_Degree',
       'Bachelors_Degree', 'Doctorate_Degree', 'Highschool', 'Some_College',
       'Race_Asian', 'Race_White', 'Race_Two_Or_More', 'Race_Black',
       'Race_Hispanic', 'in_top_15', 'Female_gender', 'Male_gender',
       'Other_Gender', 'state_NY', 'state_other', 'state_WA',
       'Marketing_title', 'Mechanical Engineer_title',
       'Product Designer_title', 'Recruiter_title', 'Sales_title',
       'Software Engineer_title', 'Software Engineering Manager_title',
       'Solution Architect_title', 'Technical Program Manager_title',
       'Human Resources_title', 'Product Manager_title',
       'Business Analyst_title', 'Management Consultant_title',
       'Data Scientist_title', 'Hardware Engineer_title'],
      dtype='object')

In [35]:
#neigh.fit(x_train, y_train)

KNeighborsRegressor()

In [36]:
y_hat = neigh.predict(x_test)
#y_hat

array([139800., 140800., 200000., ...,  80400., 102800., 115000.])

In [37]:
#np.array(y_test) #these are what actually happened for our x_test inputs.

array([140000, 140000, 200000, ...,  81000, 103000, 115000])

In [38]:
#Find MSE
#total_squared_error = (np.sum((y_test - y_hat)**2)) #get the sum of all the errors (error = what we want (y_test) - what we predicted (y_hat))
#mean_squared_error = total_squared_error/len(y_test) #divide this by how many rows/observations we have 
#print(mean_squared_error)

1458506587.6250463

In [39]:
#neigh.score(x_test, y_test)

0.9132564901893574

In [40]:
df.loc[1]

totalyearlycompensation                 136000
yearsofexperience                          3.0
yearsatcompany                             2.0
basesalary                            124000.0
stockgrantvalue                         1000.0
bonus                                  11000.0
Masters_Degree                               0
Bachelors_Degree                             1
Doctorate_Degree                             0
Highschool                                   0
Some_College                                 0
Race_Asian                                   0
Race_White                                   0
Race_Two_Or_More                             1
Race_Black                                   0
Race_Hispanic                                0
in_top_15                                 True
Female_gender                                0
Male_gender                                  1
Other_Gender                                 0
state_NY                                     0
state_other                                  0
state_WA                                     1
Marketing_title                              0
Mechanical Engineer_title                    0
Product Designer_title                       0
Recruiter_title                              0
Sales_title                                  0
Software Engineer_title                      1
Software Engineering Manager_title           0
Solution Architect_title                     0
Technical Program Manager_title              0
Human Resources_title                        0
Product Manager_title                        0
Business Analyst_title                       0
Management Consultant_title                  0
Data Scientist_title                         0
Hardware Engineer_title                      0
Name: 1, dtype: object

In [0]:
mlb = MultiLabelBinarizer()
mlb.fit_transform(df["Color (Category)"].str.split(",")) #what would u put instead of color tho?  
#So I think we should undo the previous on hot encoding...

In [48]:
def prediction():

SyntaxError: invalid syntax (4016238442.py, line 1)