In [16]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('cleaned_data')
df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [25]:
df.head()

,company,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,...,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,state,in_top_15,education,race
0,Google,Software Engineer,400000,5.0,5.0,210000.0,145000.0,45000.0,Male,0,...,0,1,0,0,0,0,CA,True,PHD,Asian
1,Microsoft,Software Engineer,136000,3.0,2.0,124000.0,1000.0,11000.0,Male,0,...,0,0,0,1,0,0,WA,True,Bachelors,Two
2,Google,Software Engineer,337000,6.0,6.0,177000.0,125000.0,36000.0,Male,0,...,0,1,0,0,0,0,CA,True,Bachelors,Asian
3,Microsoft,Software Engineer,222000,4.0,4.0,164000.0,38000.0,20000.0,Male,1,...,0,1,0,0,0,0,WA,True,Masters,Asian
4,Blend,Software Engineer,187000,5.0,0.0,165000.0,22000.0,0.0,Male,0,...,0,0,1,0,0,0,CA,False,Bachelors,White

In [26]:
df.columns

Index(['company', 'title', 'totalyearlycompensation', 'yearsofexperience',
       'yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus', 'gender',
       'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree', 'Highschool',
       'Some_College', 'Race_Asian', 'Race_White', 'Race_Two_Or_More',
       'Race_Black', 'Race_Hispanic', 'state', 'in_top_15', 'education',
       'race'],
      dtype='object')

In [27]:
#state, title, race, education, company, gender, experience

In [0]:
state_2 = input('State: ')
if state_2 == 'state'
print('state')

In [28]:
input = ['state', 'title', 'race', 'company', 'gender', 'yearsofexperience', 'education']
filler = df.groupby(by = input)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()
filler.reset_index(inplace = True)
filler

/tmp/ipykernel_3961/3953414673.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  filler = df.groupby(by = input)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()

,state,title,race,company,gender,yearsofexperience,education,yearsatcompany,basesalary,stockgrantvalue,bonus
0,CA,Business Analyst,Asian,8x8,Male,12.0,Bachelors,1.0,161000.0,54000.0,15000.0
1,CA,Business Analyst,Asian,AIG,Male,11.0,Masters,2.0,94000.0,0.0,8000.0
2,CA,Business Analyst,Asian,Adobe,Female,2.0,Bachelors,2.0,97000.0,18000.0,10000.0
3,CA,Business Analyst,Asian,Affirm,Male,3.0,Masters,0.0,174000.0,30000.0,0.0
4,CA,Business Analyst,Asian,Affirm,Male,4.0,Masters,0.0,174000.0,57000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
16330,WA,Technical Program Manager,White,Salesforce,Male,20.0,Some,1.0,206000.0,18500.0,31000.0
16331,WA,Technical Program Manager,White,Sift,Male,20.0,Bachelors,2.0,205000.0,30000.0,20000.0
16332,WA,Technical Program Manager,White,T-mobile,Other,10.0,Bachelors,4.0,140000.0,15000.0,35000.0
16333,WA,Technical Program Manager,White,Twitter,Female,18.0,Bachelors,1.0,208000.0,90000.0,0.0
16334,WA,Technical Program Manager,White,Uber,Male,10.0,Masters,6.0,240000.0,250000.0,43000.0

In [29]:
#changeing expeirence from numerical values to categorical values
def convert(years):
    if years == 0:
        return 'NO EXPERIENCE'
    elif 1 <= years <= 3:
        return 'LITTLE EXPERIENCE'
    elif 4 <= years <= 6:
        return 'MEDIUM EXPERIENCE'
    else:
        return 'VERY EXPERIENCED'

In [0]:
df['experience'] = df['yearsofexperience'].apply(convert)

In [15]:
def findfillerdata(filler):
    if filler == None:
        return 'sorry no data found'
    else:
        return filler

In [32]:
#when there is no filler data it returns an empty df
def findfillerdata (user input):
    if df is empty
        return sorry no data found
    else
        return filler data
def predictions()filler data:
    best model - lr
    lr takes in filler data
    lr makes a prediction
    return that predction

SyntaxError: invalid syntax (1852595653.py, line 2)