In [93]:
import pandas as pd
import numpy as np

In [94]:
df = pd.read_csv('cleaned_data')
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [95]:
df.head()

,company,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,...,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,state,in_top_15,education,race
0,Google,Software Engineer,400000,5.0,5.0,210000.0,145000.0,45000.0,Male,0,...,0,1,0,0,0,0,CA,True,PHD,Asian
1,Microsoft,Software Engineer,136000,3.0,2.0,124000.0,1000.0,11000.0,Male,0,...,0,0,0,1,0,0,WA,True,Bachelors,Two
2,Google,Software Engineer,337000,6.0,6.0,177000.0,125000.0,36000.0,Male,0,...,0,1,0,0,0,0,CA,True,Bachelors,Asian
3,Microsoft,Software Engineer,222000,4.0,4.0,164000.0,38000.0,20000.0,Male,1,...,0,1,0,0,0,0,WA,True,Masters,Asian
4,Blend,Software Engineer,187000,5.0,0.0,165000.0,22000.0,0.0,Male,0,...,0,0,1,0,0,0,CA,False,Bachelors,White

In [96]:
df.columns

Index(['company', 'title', 'totalyearlycompensation', 'yearsofexperience',
       'yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus', 'gender',
       'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree', 'Highschool',
       'Some_College', 'Race_Asian', 'Race_White', 'Race_Two_Or_More',
       'Race_Black', 'Race_Hispanic', 'state', 'in_top_15', 'education',
       'race'],
      dtype='object')

In [97]:
#state, title, race, education, company, gender, experience
df.drop(['company'], axis=1, inplace=True)

In [98]:
def convert(years):
    if years == 0:
        return 'NO EXPERIENCE'
    elif 1 <= years <= 3:
        return 'LITTLE EXPERIENCE'
    elif 4 <= years <= 6:
        return 'MEDIUM EXPERIENCE'
    else:
        return 'VERY EXPERIENCED'

In [99]:
df['experience'] = df['yearsofexperience'].apply(convert)

In [105]:
input = ['state', 'title', 'race', 'education', 'gender', 'experience', 'in_top_15']
filler = df.groupby(by = input)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()
filler.reset_index(inplace=True)

/tmp/ipykernel_4678/2385807122.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  filler = df.groupby(by = input)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()

In [106]:
filler.reset_index(inplace=True)

In [108]:
filler[(filler['state'] == 'CA') & (filler['title'] == 'Business Analyst') & (filler['race'] == 'Asian') & (filler['gender'] == 'Female') & (filler['in_top_15'] == True) & (filler['education'] == 'PHD')]

Empty DataFrame
Columns: [index, state, title, race, education, gender, experience, in_top_15, yearsatcompany, basesalary, stockgrantvalue, bonus]
Index: []

In [0]:
def findfillerdata
def predictions(filler data)
    best model - lr
    takes in filler data
    makes prediction, returns prediction

In [103]:
#change experience from numerical to categorical
#no = 0 years
#little = 1-3
#medium = 4-6
#a lot = 6+

In [104]:
df.head()

,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,Bachelors_Degree,...,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,state,in_top_15,education,race,experience
0,Software Engineer,400000,5.0,5.0,210000.0,145000.0,45000.0,Male,0,0,...,1,0,0,0,0,CA,True,PHD,Asian,MEDIUM EXPERIENCE
1,Software Engineer,136000,3.0,2.0,124000.0,1000.0,11000.0,Male,0,1,...,0,0,1,0,0,WA,True,Bachelors,Two,LITTLE EXPERIENCE
2,Software Engineer,337000,6.0,6.0,177000.0,125000.0,36000.0,Male,0,1,...,1,0,0,0,0,CA,True,Bachelors,Asian,MEDIUM EXPERIENCE
3,Software Engineer,222000,4.0,4.0,164000.0,38000.0,20000.0,Male,1,0,...,1,0,0,0,0,WA,True,Masters,Asian,MEDIUM EXPERIENCE
4,Software Engineer,187000,5.0,0.0,165000.0,22000.0,0.0,Male,0,1,...,0,1,0,0,0,CA,False,Bachelors,White,MEDIUM EXPERIENCE