In [142]:
import pandas as pd
import numpy as np

In [143]:
df = pd.read_csv('cleaned_data')
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [144]:
df.head()

,company,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,...,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,state,in_top_15,education,race
0,Google,Software Engineer,400000,5.0,5.0,210000.0,145000.0,45000.0,Male,0,...,0,1,0,0,0,0,CA,True,PHD,Asian
1,Microsoft,Software Engineer,136000,3.0,2.0,124000.0,1000.0,11000.0,Male,0,...,0,0,0,1,0,0,WA,True,Bachelors,Two
2,Google,Software Engineer,337000,6.0,6.0,177000.0,125000.0,36000.0,Male,0,...,0,1,0,0,0,0,CA,True,Bachelors,Asian
3,Microsoft,Software Engineer,222000,4.0,4.0,164000.0,38000.0,20000.0,Male,1,...,0,1,0,0,0,0,WA,True,Masters,Asian
4,Blend,Software Engineer,187000,5.0,0.0,165000.0,22000.0,0.0,Male,0,...,0,0,1,0,0,0,CA,False,Bachelors,White

In [145]:
df.columns

Index(['company', 'title', 'totalyearlycompensation', 'yearsofexperience',
       'yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus', 'gender',
       'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree', 'Highschool',
       'Some_College', 'Race_Asian', 'Race_White', 'Race_Two_Or_More',
       'Race_Black', 'Race_Hispanic', 'state', 'in_top_15', 'education',
       'race'],
      dtype='object')

In [146]:
#state, title, race, education, company, gender, experience

In [147]:
def convert(years):
    if years == 0:
        return 'NO EXPERIENCE'
    elif 1 <= years <= 3:
        return 'LITTLE EXPERIENCE'
    elif 4 <= years <= 6:
        return 'MEDIUM EXPERIENCE'
    else:
        return 'VERY EXPERIENCED'

In [148]:
df['experience'] = df.apply(lambda x: convert(x.yearsofexperience), axis=1)
df.head()

,company,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,...,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,state,in_top_15,education,race,experience
0,Google,Software Engineer,400000,5.0,5.0,210000.0,145000.0,45000.0,Male,0,...,1,0,0,0,0,CA,True,PHD,Asian,MEDIUM EXPERIENCE
1,Microsoft,Software Engineer,136000,3.0,2.0,124000.0,1000.0,11000.0,Male,0,...,0,0,1,0,0,WA,True,Bachelors,Two,LITTLE EXPERIENCE
2,Google,Software Engineer,337000,6.0,6.0,177000.0,125000.0,36000.0,Male,0,...,1,0,0,0,0,CA,True,Bachelors,Asian,MEDIUM EXPERIENCE
3,Microsoft,Software Engineer,222000,4.0,4.0,164000.0,38000.0,20000.0,Male,1,...,1,0,0,0,0,WA,True,Masters,Asian,MEDIUM EXPERIENCE
4,Blend,Software Engineer,187000,5.0,0.0,165000.0,22000.0,0.0,Male,0,...,0,1,0,0,0,CA,False,Bachelors,White,MEDIUM EXPERIENCE

In [149]:
input = ['state', 'title', 'race', 'education', 'gender', 'experience', 'in_top_15']
filler = df.groupby(by = input)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()
filler.reset_index(inplace=True)
filler

/tmp/ipykernel_15133/2292288465.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  filler = df.groupby(by = input)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()

,state,title,race,education,gender,experience,in_top_15,yearsatcompany,basesalary,stockgrantvalue,bonus
0,CA,Business Analyst,Asian,Bachelors,Female,LITTLE EXPERIENCE,False,0.800000,98000.000000,10600.000000,10600.000000
1,CA,Business Analyst,Asian,Bachelors,Female,LITTLE EXPERIENCE,True,1.666667,87333.333333,1000.000000,8333.333333
2,CA,Business Analyst,Asian,Bachelors,Female,MEDIUM EXPERIENCE,False,0.500000,130000.000000,5000.000000,5000.000000
3,CA,Business Analyst,Asian,Bachelors,Female,MEDIUM EXPERIENCE,True,1.000000,140000.000000,31000.000000,21000.000000
4,CA,Business Analyst,Asian,Bachelors,Female,NO EXPERIENCE,True,0.000000,79500.000000,0.000000,7000.000000
...,...,...,...,...,...,...,...,...,...,...,...
3382,WA,Technical Program Manager,White,Masters,Male,VERY EXPERIENCED,False,8.428571,162571.428571,5714.285714,16857.142857
3383,WA,Technical Program Manager,White,Masters,Male,VERY EXPERIENCED,True,5.142857,182571.428571,53785.714286,33857.142857
3384,WA,Technical Program Manager,White,PHD,Male,VERY EXPERIENCED,True,7.000000,185000.000000,232500.000000,20000.000000
3385,WA,Technical Program Manager,White,Some,Female,VERY EXPERIENCED,True,16.000000,182000.000000,40000.000000,42000.000000
3386,WA,Technical Program Manager,White,Some,Male,VERY EXPERIENCED,True,2.000000,206000.000000,36750.000000,35250.000000

In [150]:
filler.reset_index(inplace=True)

In [151]:
filler[(filler['state'] == 'CA') & (filler['title'] == 'Business Analyst') & (filler['race'] == 'Asian') & (filler['gender'] == 'Female') & (filler['in_top_15'] == True) & (filler['education'] == 'PHD')]

Empty DataFrame
Columns: [index, state, title, race, education, gender, experience, in_top_15, yearsatcompany, basesalary, stockgrantvalue, bonus]
Index: []

In [152]:
filler[(filler['state'] == 'WA') & (filler['title'] == 'Software Engineer') & (filler['race'] == 'Asian') & (filler['gender'] == 'Male') & (filler['in_top_15'] == True) & (filler['education'] == 'PHD')]

,index,state,title,race,education,gender,experience,in_top_15,yearsatcompany,basesalary,stockgrantvalue,bonus
3137,3137,WA,Software Engineer,Asian,PHD,Male,LITTLE EXPERIENCE,True,1.800000,165600.000000,87600.0,21200.000000
3139,3139,WA,Software Engineer,Asian,PHD,Male,MEDIUM EXPERIENCE,True,2.714286,164857.142857,86000.0,24428.571429
3141,3141,WA,Software Engineer,Asian,PHD,Male,NO EXPERIENCE,True,0.000000,157800.000000,70200.0,33000.000000
3143,3143,WA,Software Engineer,Asian,PHD,Male,VERY EXPERIENCED,True,2.500000,187250.000000,200500.0,62375.000000

In [153]:
#change experience from numerical to categorical
#no = 0 years
#little = 1-3
#medium = 4-6
#a lot = 6+

In [154]:
df.head()

,company,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,...,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,state,in_top_15,education,race,experience
0,Google,Software Engineer,400000,5.0,5.0,210000.0,145000.0,45000.0,Male,0,...,1,0,0,0,0,CA,True,PHD,Asian,MEDIUM EXPERIENCE
1,Microsoft,Software Engineer,136000,3.0,2.0,124000.0,1000.0,11000.0,Male,0,...,0,0,1,0,0,WA,True,Bachelors,Two,LITTLE EXPERIENCE
2,Google,Software Engineer,337000,6.0,6.0,177000.0,125000.0,36000.0,Male,0,...,1,0,0,0,0,CA,True,Bachelors,Asian,MEDIUM EXPERIENCE
3,Microsoft,Software Engineer,222000,4.0,4.0,164000.0,38000.0,20000.0,Male,1,...,1,0,0,0,0,WA,True,Masters,Asian,MEDIUM EXPERIENCE
4,Blend,Software Engineer,187000,5.0,0.0,165000.0,22000.0,0.0,Male,0,...,0,1,0,0,0,CA,False,Bachelors,White,MEDIUM EXPERIENCE

In [155]:
#create groupby seven inputs & mean of outputs
input = ['state', 'title', 'race', 'gender', 'experience', 'education', 'in_top_15']
filler = df.groupby(by = input)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()
filler.reset_index(inplace = True)

/tmp/ipykernel_15133/1973704127.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  filler = df.groupby(by = input)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()

In [156]:
#when there is no filler data it returns an empty df
#def find filler data ( user input) 
    #if df is empty
        #return sorry no data found
    #else
        #return filler data

In [157]:
top_15 = list(df['company'].value_counts().head(15).index)
top_15

['Amazon',
 'Microsoft',
 'Google',
 'Facebook',
 'Apple',
 'Oracle',
 'IBM',
 'Intel',
 'Cisco',
 'Salesforce',
 'Capital One',
 'VMware',
 'JPMorgan Chase',
 'Deloitte',
 'Uber']

In [180]:
userinput = ['state', 'title', 'race', 'gender', 'experience', 'education', 'in_top_15']
filler2 = df.groupby(by = userinput)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()
filler2.reset_index(inplace = True)
filler2.head()

/tmp/ipykernel_15133/1658636948.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  filler2 = df.groupby(by = userinput)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()

,state,title,race,gender,experience,education,in_top_15,yearsatcompany,basesalary,stockgrantvalue,bonus
0,CA,Business Analyst,Asian,Female,LITTLE EXPERIENCE,Bachelors,False,0.800000,98000.000000,10600.0,10600.000000
1,CA,Business Analyst,Asian,Female,LITTLE EXPERIENCE,Bachelors,True,1.666667,87333.333333,1000.0,8333.333333
2,CA,Business Analyst,Asian,Female,LITTLE EXPERIENCE,Masters,False,1.200000,102000.000000,8400.0,19600.000000
3,CA,Business Analyst,Asian,Female,MEDIUM EXPERIENCE,Bachelors,False,0.500000,130000.000000,5000.0,5000.000000
4,CA,Business Analyst,Asian,Female,MEDIUM EXPERIENCE,Bachelors,True,1.000000,140000.000000,31000.0,21000.000000

In [181]:
def findfillerdata(state, title, race, gender, company, education, yearsofexperience):
    top_15_data = None
    if company in top_15:
        top_15_data = True
    else:
        top_15_data = False
    
    experience = convert(yearsofexperience)
    fillerdata = filler2[(filler2['state'] == state) & 
                     (filler2['title'] == title) & 
                     (filler2['race'] == race) & 
                     (filler2['gender'] == gender) & 
                     (filler2['in_top_15'] == top_15_data) & 
                     (filler2['education'] == education) & 
                     (filler2['experience'] == experience)]
    if len(fillerdata) == 0:
        return 'sorry no data found'
    else:
        return fillerdata

In [187]:
findfillerdata('WA', 'Software Engineer', 'Asian', 'Female', 'Google', 'Masters', 2)

,state,title,race,gender,experience,education,in_top_15,yearsatcompany,basesalary,stockgrantvalue,bonus
3105,WA,Software Engineer,Asian,Female,LITTLE EXPERIENCE,Masters,True,1.348837,131232.55814,33069.767442,15209.302326

In [194]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import FunctionTransformer

In [196]:
numeric_features = ['yearsofexperience', 'yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus', 'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree', 'Highschool', 'Some_College', 'Race_Asian', 'Race_White', 'Race_White', 'Race_Two_Or_More', 'Race_Black', 'Race_Hispanic', 'in_top_15']
numeric_transformer = FunctionTransformer(np.square)

In [197]:
categorical_features = ['title', 'gender', 'state']
categorical_transformer = OneHotEncoder(handle_unknown='ignore')

In [200]:
preprocessor = ColumnTransformer(transformers = [('num', numeric_transformer, numeric_features), ('cat', categorical_transformer, categorical_features)])

In [201]:
clf = Pipeline(
    steps=[('preprocessor', preprocessor),('classifier', KNeighborsRegressor())]
)

In [203]:
x = df.loc[:, (df.columns !='totalyearlycompensation')]
y = df.totalyearlycompensation
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [205]:
clf.fit(x_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  FunctionTransformer(func=<ufunc 'square'>),
                                                  ['yearsofexperience',
                                                   'yearsatcompany',
                                                   'basesalary',
                                                   'stockgrantvalue', 'bonus',
                                                   'Masters_Degree',
                                                   'Bachelors_Degree',
                                                   'Doctorate_Degree',
                                                   'Highschool', 'Some_College',
                                                   'Race_Asian', 'Race_White',
                                                   'Race_White',
                                                   'Race_Two_Or_More',
                                                   'Race_Black',
                                                   'Race_Hispanic',
                                                   'in_top_15']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['title', 'gender',
                                                   'state'])])),
                ('classifier', KNeighborsRegressor())])

In [208]:
clf.score(x_test, y_test)

0.9050458531996377

In [209]:
test = x_train.head(1)
test

,company,title,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,Bachelors_Degree,...,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,state,in_top_15,education,race,experience
8981,IBM,Solution Architect,14.0,8.0,155000.0,0.0,0.0,Female,0,1,...,0,1,0,0,0,WA,True,Bachelors,White,VERY EXPERIENCED

In [210]:
clf.predict(test)

array([155200.])