In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cleaned_data')
df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [3]:
df.head()

,company,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,...,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,state,in_top_15,education,race
0,Google,Software Engineer,400000,5.0,5.0,210000.0,145000.0,45000.0,Male,0,...,0,1,0,0,0,0,CA,True,PHD,Asian
1,Microsoft,Software Engineer,136000,3.0,2.0,124000.0,1000.0,11000.0,Male,0,...,0,0,0,1,0,0,WA,True,Bachelors,Two
2,Google,Software Engineer,337000,6.0,6.0,177000.0,125000.0,36000.0,Male,0,...,0,1,0,0,0,0,CA,True,Bachelors,Asian
3,Microsoft,Software Engineer,222000,4.0,4.0,164000.0,38000.0,20000.0,Male,1,...,0,1,0,0,0,0,WA,True,Masters,Asian
4,Blend,Software Engineer,187000,5.0,0.0,165000.0,22000.0,0.0,Male,0,...,0,0,1,0,0,0,CA,False,Bachelors,White

In [7]:
df.columns

Index(['company', 'title', 'totalyearlycompensation', 'yearsofexperience',
       'yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus', 'gender',
       'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree', 'Highschool',
       'Some_College', 'Race_Asian', 'Race_White', 'Race_Two_Or_More',
       'Race_Black', 'Race_Hispanic', 'state', 'in_top_15', 'education',
       'race'],
      dtype='object')

In [8]:
#state, title, race, education, company, gender, experience

In [9]:
input = ['state', 'title', 'race', 'gender', 'experience', 'education', 'in_top_15']
filler = df.groupby(by = input)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()
filler.reset_index(inplace = True)
filler

KeyError: 'experience'

In [10]:
[(filler['state'] == 'CA') & (filler['title'] == 'Business Analyst') & (filler['race'] == 'Asian') & (filler['gender'] == 'Female') & (filler['in_top_15'] == True) & (filler['education'] == 'Bachelor')]

NameError: name 'filler' is not defined

In [11]:
#when there is no filler data it returns an empty df
def find filler data ( user input) 
    if df is empty
        return sorry no data found
    else
        return filler data

SyntaxError: invalid syntax (544958570.py, line 2)

In [12]:
#ca, data scientist, asian, bachelors, apple, 4, male

In [0]:
#change experience from numerical values to categorical
no = 0 years
little = 1 - 3
medium = 4 - 6
a lot = 6+

In [36]:
user_input = ['state', 'title', 'race', 'education', 'in_top_15', 'gender', 'yearsofexperience']
fill = df.groupby(by = user_input)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()
fill.reset_index(inplace = True)df.head()

,company,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,...,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,state,in_top_15,education,race
0,Google,Software Engineer,400000,5.0,5.0,210000.0,145000.0,45000.0,Male,0,...,0,1,0,0,0,0,CA,True,PHD,Asian
1,Microsoft,Software Engineer,136000,3.0,2.0,124000.0,1000.0,11000.0,Male,0,...,0,0,0,1,0,0,WA,True,Bachelors,Two
2,Google,Software Engineer,337000,6.0,6.0,177000.0,125000.0,36000.0,Male,0,...,0,1,0,0,0,0,CA,True,Bachelors,Asian
3,Microsoft,Software Engineer,222000,4.0,4.0,164000.0,38000.0,20000.0,Male,1,...,0,1,0,0,0,0,WA,True,Masters,Asian
4,Blend,Software Engineer,187000,5.0,0.0,165000.0,22000.0,0.0,Male,0,...,0,0,1,0,0,0,CA,False,Bachelors,White

In [37]:
def convert(years):
    if years == 0:
        return 'No Experience'
    elif 1 <= years <= 3:
        return 'Little Experience'
    elif 4 <= years <= 6:
        return 'Medium Experienced'
    else:
        return 'Very Experienced'

In [44]:
df['experience'] = df['yearsofexperience'].apply(convert)

In [45]:
df.head()

,company,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,...,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,state,in_top_15,education,race,experience
0,Google,Software Engineer,400000,5.0,5.0,210000.0,145000.0,45000.0,Male,0,...,1,0,0,0,0,CA,True,PHD,Asian,Medium Experienced
1,Microsoft,Software Engineer,136000,3.0,2.0,124000.0,1000.0,11000.0,Male,0,...,0,0,1,0,0,WA,True,Bachelors,Two,LITTLE EXPERIENCE
2,Google,Software Engineer,337000,6.0,6.0,177000.0,125000.0,36000.0,Male,0,...,1,0,0,0,0,CA,True,Bachelors,Asian,Medium Experienced
3,Microsoft,Software Engineer,222000,4.0,4.0,164000.0,38000.0,20000.0,Male,1,...,1,0,0,0,0,WA,True,Masters,Asian,Medium Experienced
4,Blend,Software Engineer,187000,5.0,0.0,165000.0,22000.0,0.0,Male,0,...,0,1,0,0,0,CA,False,Bachelors,White,Medium Experienced

In [13]:
def prediction(fillter data):
    best ml model = whatever() - knn
    predict(filler)_data
    return prediction

SyntaxError: invalid syntax (219307475.py, line 1)

In [14]:
user_input = ['state', 'title', 'race', 'education', 'in_top_15', 'gender', 'yearsofexperience']
fill = df.groupby(by = user_input)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()
fill.reset_index(inplace = True)

/tmp/ipykernel_15290/3653865278.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  fill = df.groupby(by = user_input)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()

In [15]:
top_15 = list(df['company'].value_counts().head(15).index)
top_15

['Amazon',
 'Microsoft',
 'Google',
 'Facebook',
 'Apple',
 'Oracle',
 'IBM',
 'Intel',
 'Cisco',
 'Salesforce',
 'Capital One',
 'VMware',
 'JPMorgan Chase',
 'Deloitte',
 'Uber']

In [30]:
def impute(state, title, race, education, company, gender, experience):
    top_15_data = None
    if company in top_15:
        top_15_data = True
    else:
        top_15_data = False

    new_data = fill[(fill['state'] == state) & 
         (fill['title'] == title) & 
         (fill['race'] == race) & 
         (fill['gender'] == gender) & 
         (fill['in_top_15'] == top_15_data) &     
         (fill['education'] == education) &
         (fill['yearsofexperience'] == experience)]

    if len(fill) == 0:
        return "Sorry, no matching data found"
    else:
        return new_data

In [35]:
len(impute('CA', 'Data Scientist', 'Asian', 'Bachelors', 'Apple', 'Male', 0))

0

In [44]:
from sklearn.preprocessing import MultiLabelBinarizer

In [45]:
mlb=MultiLabelBinarizer()

In [46]:
mlb.fit_transform([(1,2),(3,)])

array([[1, 1, 0],
       [0, 0, 1]])